body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    color: lime;
}

#calculatorBody {
    /* width: 69%;
    height: 60%; */
    width: 430px;
    height: 540px;
    background-color: black;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

#calculatorScreen {
    font-size: 80px;
    display: flex;
    /* flex-grow: 2; */
    background-color: aliceblue;
    justify-content: flex-end;
    /* align-items: center; */
    margin-bottom: 10px;
    padding: 1px 0px;
}

#calculatorButtonContainer {
    display: flex;
    flex-grow: 5;
    background-color: red;
    flex-wrap: wrap;

}

/* buttons */
#calculatorButtonContainer>*{
    font-size: 32px;
    border-color: purple;
    border-width: 4px;
    border-style: solid;
    flex: 20%;
    margin: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
}