@font-face {
    font-family: 'digital-7';
    src: url(digital-7\ \(mono\).ttf);
}


body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#calculatorBody {
    /* width: 69%;
    height: 60%; */
    width: 430px;
    height: 540px;
    background-color: black;
    padding: 12px;
    display: flex;
    flex-direction: column;

    border-radius: 13px;
}

#calculatorScreen {
    font-size: 80px;
    font-family: 'digital-7';
    display: flex;
    /* flex-grow: 2; */
    background-color: aliceblue;
    justify-content: flex-end;
    /* align-items: center; */
    margin-bottom: 10px;

    border-radius: 6px;

    color: rgb(0, 0, 0);
}

#calculatorButtonContainer {
    display: flex;
    flex-grow: 5;
    background-color: red;
    flex-wrap: wrap;

    border-radius: 6px;

}

/* buttons */
#calculatorButtonContainer>*{
    font-size: 32px;
    /* border-color: purple; */
    border-width: 4px;
    border-style: solid;
    flex: 20%;
    margin: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#commandInfo {
    margin-top: 30px;
}